version: "3.9"

services:
  app:
    image: docker.io/marcosnevot/shortener:latest
    env_file:
      - ./shortener.env
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      LOG_CHANNEL: stderr
      QUEUE_CONNECTION: redis
      CACHE_STORE: redis
      SESSION_DRIVER: redis
      DB_HOST: db
      DB_DATABASE: shortener
      DB_USERNAME: shortener
      DB_PASSWORD: changeme
      REDIS_HOST: redis
    depends_on:
      - db
      - redis
    volumes:
      - shortener_storage:/var/www/html/storage
    restart: unless-stopped

  queue:
    image: docker.io/marcosnevot/shortener:latest
    command: ["sh","-lc","php artisan queue:work --queue=default,analytics --sleep=1 --tries=3 --no-interaction"]
    env_file: [./shortener.env]
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      QUEUE_CONNECTION: redis
      REDIS_HOST: redis
      DB_HOST: db
      DB_DATABASE: shortener
      DB_USERNAME: shortener
      DB_PASSWORD: changeme
    depends_on:
      - app
      - redis
      - db
    restart: unless-stopped

  scheduler:
    image: docker.io/marcosnevot/shortener:latest
    command: ["sh","-lc","while true; do php artisan schedule:run --no-interaction; sleep 60; done"]
    env_file: [./shortener.env]
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      QUEUE_CONNECTION: redis
      REDIS_HOST: redis
      DB_HOST: db
      DB_DATABASE: shortener
      DB_USERNAME: shortener
      DB_PASSWORD: changeme
    depends_on:
      - app
      - redis
      - db
    restart: unless-stopped

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - app
    ports:
      - "80:80"
    volumes:
      - shortener_storage:/var/www/html/storage:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: shortener
      MYSQL_USER: shortener
      MYSQL_PASSWORD: changeme
      MYSQL_ROOT_PASSWORD: rootpw
    volumes:
      - mysql_data:/var/lib/mysql
    command: ["mysqld","--default-authentication-plugin=mysql_native_password","--log-bin-trust-function-creators=1"]
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    command: ["redis-server","--save","60","100","--loglevel","warning"]
    volumes:
      - redis_data:/data
    restart: unless-stopped

  worker:
    image: ${REGISTRY_IMAGE}
    env_file: shortener.env
    depends_on:
      - app
      - redis
      - db
    restart: unless-stopped
    command: >
      sh -lc 'php artisan queue:work --queue=analytics,default
              --sleep=1 --max-time=3600 --tries=3'


volumes:
  mysql_data:
  redis_data:
  shortener_storage:
