name: CI

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: shortener_test
        ports: ['3306:3306']
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s --health-timeout=5s --health-retries=10
      redis:
        image: redis:7
        ports: ['6379:6379']

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, intl, pdo_mysql, redis
          coverage: none

      - name: Cache Composer
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: ${{ runner.os }}-composer-${{ hashFiles('app/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install deps
        working-directory: app
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Create .env.testing
        working-directory: app
        run: |
          cp .env.example .env.testing || true
          printf "%s\n" \
            "APP_ENV=testing" \
            "APP_DEBUG=true" \
            "DB_CONNECTION=mysql" \
            "DB_HOST=127.0.0.1" \
            "DB_PORT=3306" \
            "DB_DATABASE=shortener_test" \
            "DB_USERNAME=root" \
            "DB_PASSWORD=root" \
            "CACHE_DRIVER=array" \
            "SESSION_DRIVER=array" \
            "QUEUE_CONNECTION=sync" \
            "REDIS_HOST=127.0.0.1" \
            "RATE_LIMIT_RESOLVE=100,1" \
            >> .env.testing

      - name: App key
        working-directory: app
        run: php artisan key:generate --env=testing --force

      - name: Migrate
        working-directory: app
        run: php artisan migrate --env=testing --force

      - name: Run tests
        working-directory: app
        run: vendor/bin/phpunit -d memory_limit=512M

  build-and-push:
    needs: tests
    if: github.ref_type == 'tag' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: marcosnevot/shortener
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=ref,event=tag

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
